#BD credentials
DB_PORT=5432
DB_USER=YOUR_DB_USER_HERE
DB_PASSWORD=YOUR_DB_PASSWORD_HERE
DB_NAME=YOUR_DB_NAME_HERE

#Spring
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=docker
SPRING_DATASOURCE_URL=jdbc:postgresql://database:5432/DB_NAME

#Twilio
TWILIO_ACCOUNT_SID=YOUR_TWILIO_ACCOUNT_SID_HERE
TWILIO_AUTH_TOKEN=YOUR_TWILIO_ACCOUNT_TOKEN_HERE
TWILIO_PHONE_NUMBER=+12345678900

# WhatsApp Business API
WHATSAPP_PHONE_NUMBER_ID=YOUR_WHATSAPP_PHONE_NUMBER_ID_HERE
WHATSAPP_API_TOKEN=YOUR_WHATSAPP_API_TOKEN_HERE
WHATSAPP_BASE_URL=YOUR_WHATSAPP_BASE_URL_HERE

#JWT
JWT_SECRET=jwt.secret=YOUR_JWT_SECRET_AT_LEAST_256_BITS_LONG_HERE
JWT_EXPIRATION_MS=86400000

#Hashids
HASHIDS_SALT=YOUR_HASHIDS_SALT_HERE

#NextJS
NEXT_PUBLIC_API_URL=YOUR_API_URL_HERE
NEXT_PORT=3000